{% extends "core/base.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-white">
        <div class="col-sm-4">
            <!-- <p>helo</p> -->
            <i class="fas fa-search-dollar fa-2x"></i>
            <i class="fa-brands fa-searchengin"></i>
        </div>

        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock content %}